@import 'tailwindcss';
@theme {
	--color-background: #1f1f1f;
	--color-tile: #4d5157;
	--color-bermuda: #78dcca;
	--color-text: #e0e0e0; /* Example custom color */
	--color-secondary-light: #add8e6; /* Example with shades */
	--color-secondary-dark: #4682b4;
}
html,
body,
#root {
	height: 100%;
}
